* {
  margin: 0;
  padding: 0;
  z-index: inherit;
}

html {
  z-index: 0;
  font-size: 1.5vh;

  --eerieBlack: #212121;
  --lavender: #bc86fc;
  --platinum: #e5e5e5;
  --starBlue: #2274a5;
  --seaGreen: #3e885b;
  --dodgerBlue: #008EFF;
  --tartOrange: #FF5154;

  @media screen and (max-width: 1024px) {
    font-size: 1.5vh;
  }
}

body,
#__nuxt,
#__layout {
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  background: var(--background);
}

body {
  --background: var(--eerieBlack);
  --backgroundAlt: white;
  --accent: var(--lavender);
  --accentAlt: var(--starBlue);

}

.light-mode {
  --background: var(--platinum) !important;
  --backgroundAlt: var(--eerieBlack);
  --accent: var(--seaGreen);
  --accentAlt: var(--tartOrange);
}

a,
a:active,
a:visited {
  color: var(--backgroundAlt);
  text-decoration: none;
}

a:hover,
svg:hover {
  cursor: pointer;
  color: var(--accent) !important;
}

h1,
h2,
h3,
p {
  color: var(--backgroundAlt);
  font-family: "DM mono", "monospace";
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: left;
  font-style: italic;
}

h3 {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

p {
  text-align: left;

  >a {
    text-decoration: underline !important;
  }
}
