* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    background-color: black;
}

.parallax {
    height: 100%;
    width: 100%;
}

.parallaxText {
    height: 30%;
    width: 60%;
    margin-top: 20%;
    margin-left: 40%;
}

.parallaxText h1 {
    position: fixed;
    z-index: -1;
    color: white;
    font-family: 'Titillium Web', sans-serif, times;
    font-size: 48px;
}

@media screen and (max-width: 480px) {
    .parallaxText h1 {
        font-size: 20px;
    }
}

#content {
    height: 100%;
    width: 100%;
    background-color: white;
}

.tableCol {
    height: 100%;
    width: 33.33333%;
}

h2, ol {
    font-family: "Libre Baskerville", serif, times;
}

h2 {
    font-size: 28px;
    font-weight: 900;
}

ol {
    font-size: 20px;
}

#pronounce {
    font-size: 22px;
    font-weight: 600;
}

#wordType {
    font-size: 22px;
    font-weight: 200;
}

.example {
    font-size: 18px;
    font-style: italic;
}
