* {
    padding: 0;
    margin: 0;
}

body {
    border: 2px solid rgba(150, 150, 150, 1);
}

#navBar {
    width: 70%;
    margin: auto;
    text-align: center;
}

#navBar li {
    display: inline-block;
    padding: 0% 1%;
    margin: 0% 1%;
    font-family: courier, times, arial;
    font-size: 24px;
}

#navBar li a {
    text-decoration: none;
    display: block;
    height: 48px;
    width: 200px;
    color: rgba(251, 255, 242, 0.9);
    background-color: rgba(51, 194, 255, 1);
}

.about {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 32px;
    font-family: courier, times, arial;
    color: rgba(150, 150, 150, 1);
    text-align: center;
}

a, a:hover, a:visited {
    color: rgba(150, 150, 150, 1);
}
