* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    border: 5px solid rgba(150, 150, 150, 0.5);
}


/*Cool nav bar code starts here...*/

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    min-height: 10%;
}

.btn {
    flex: 1 1 auto;
    margin: 10px 20px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-family: 'Poppins', sans-serif, times;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn:hover {
    background-position: right center;
}

.btn-h {
    background-image: linear-gradient(to right, rgba(150, 150, 150, 0.5) 6%, rgb(51, 194, 255) 51%, rgb(251, 194, 255) 96%);
    text-decoration: none;
}

.btn-p {
    background-image: linear-gradient(to right, rgb(251, 194, 255) 6%, rgb(51, 194, 255) 51%, rgba(150, 150, 150, 0.5) 96%);
    text-decoration: none;
}


/* and ends here */


/* styling for the rest of the page goes on from here */

.allText {
    width: 60vw;
    min-height: 98vh;
    margin: auto;
}

h1 {
    font-family: 'Titillium Web', sans-serif, times;
    font-weight: 600;
    color: #3d3d3d;
    font-size: 32px;
    font-style: italic;
}

p {
    font-family: 'Poppins', sans-serif, times;
    font-weight: 200;
    color: #3d3d3d;
    font-size: 20px;
}

#title {
    font-size: 40px;
}

#intro {
    font-size: 28px;
}

a, a:visited {
    color: #3d3d3d;
}

a:hover {
    color: rgb(251, 194, 255);
}
