* {
    margin: 0;
    padding: 0;
    background-color: rgba(251, 255, 242, 0.9);
}

body, html {
    height: 100%;
}

.parallaxBanner {
    background-image: url("signaturebanner.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
}

@media only screen and (max-device-width:1024px) {
    .parallaxBanner {
        background-attachement: scroll;
    }
}

.all {
    height: 100%;
    border: 2px solid rgba(150, 150, 150, 1);
}

#navBar {
    width: 70%;
    margin: auto;
    text-align: center;
}

#navBar li {
    display: inline-block;
    padding: 0% 1%;
    margin: 0% 1%;
    font-family: courier, times, arial;
    font-size: 24px;
}

#navBar li a {
    text-decoration: none;
    display: block;
    height: 48px;
    width: 200px;
    color: rgba(251, 255, 242, 0.9);
    background-color: rgba(51, 194, 255, 1);
}

.bio {
    font-size: 32px;
    font-family: courier, times, arial;
    color: rgba(150, 150, 150, 1);
    text-align: center;
}

a {
    color: rgba(150, 150, 150, 1);
}
