body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.parallaxBanner {
    background-image: url("signaturebanner.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

@media only screen and (max-device-width:1024px) {
    .parallaxBanner {
        background-attachement: scroll;
    }
}

h1 {
    font-family: "Pinyon Script", Arial, ComicSans;
    font-size: 24px;
    color: rgba(51, 194, 255, 1);
    text-align: Center;
}

.textBio {
    margin: auto;
    width: 50%;
    font-family: Times, Arial, ComicSans;
    font-size: 24px;
    color: rgba(51, 194, 255, 1);
    text-align: Center;
}

a:visited, a:hover {
    color: rgba(51, 194, 255, 1);
}

#myTable {
    width: 70%;
    height: 440px;
    margin: auto;
}

#tableRow2, #tableRow4 {
    background-color: rgba(251, 255, 242, 0.9);
}

#tableRow1, #tableRow3 {
    background-color: rgba(51, 194, 255, 1);
}
