* {
    margin: 0;
    padding: 0;
}


/*
Google Fonts:
font-family: 'Poppins', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Pacifico', cursive;
*/

html {
    width: 100vw;
    background-color: white;
}

body {
    width: 100vw;
}

#sgntrSection {
    width: 100vw;
    height: 26vmin;
    margin-top: 15vh;
    padding-top: 8vmin;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 10vmin;
    background-color: rgb(165, 223, 238);
}

#undCnstSection {
    height: 15vh;
    width: 60vw;
    margin-top: 5vh;
    margin-left: 20vw;
    text-align: center;
    font-family: 'VT323', monospace, times;
    font-size: 5vmin;
    color: rgb(165, 223, 238);
    overflow: hidden;
    position: relative;
}

#undCnstSection p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: undCnstSection 8s linear infinite;
    -webkit-animation: undCnstSection 8s linear infinite;
    animation: undCnstSection 8s linear infinite;
}


/* Move it (define the animation) */

@-moz-keyframes undCnstSection {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes undCnstSection {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes undCnstSection {
    0% {
        -moz-transform: translateX(100%);
        /* Browser bug fix */
        -webkit-transform: translateX(100%);
        /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Browser bug fix */
        -webkit-transform: translateX(-100%);
        /* Browser bug fix */
        transform: translateX(-100%);
    }
}
