/*Setting up initial conditions for styling */

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}


/*Setting up the scrolling effect with the gif/banner */

.parallaxBanner {
    height: 100%;
    background-color: rgba(150, 150, 150, 0.5);
}

#bannerImg {
    height: 90%;
    background: url("helloWorld.gif") no-repeat center center fixed;
    background-size: 50%;
    padding: 0;
}

#arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 24px;
    color: rgb(51, 194, 255);
}


/*Stops page trying to keep parallax effect on small screens */

@media only screen and (max-device-width:1024px) {
    #bannerImg {
        background: url("helloWorldStill.png");
    }
}


/*Styling for the rest of the page */

.all {
    height: 98%;
    border: 5px solid rgba(150, 150, 150, 0.5);
    background-color: rgba(255, 255, 255, 1);
}


/*Cool nav bar code starts here...*/

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    min-height: 10%;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn:hover {
    background-position: right center;
}

.btn-h {
    background-image: linear-gradient(to right, rgba(150, 150, 150, 0.5) 6%, rgb(51, 194, 255) 51%, rgb(251, 194, 255) 96%);
    text-decoration: none;
}

.btn-p {
    background-image: linear-gradient(to right, rgb(251, 194, 255) 6%, rgb(51, 194, 255) 51%, rgba(150, 150, 150, 0.5) 96%);
    text-decoration: none;
}


/* and ends here */

.bio {
    width: 70vw;
    margin: auto;
    font-size: 32px;
    font-family: courier, times, arial;
    color: #3d3d3d;
    text-align: center;
}

a {
    color: #3d3d3d;
}

a {
    color: #3d3d3d;
}

d3d;

}
