.wrapper {
  display: grid;
  grid-template-columns: auto 90vw auto;
  align-items: start;
  justify-items: center;
  padding: var(--mantine-spacing-xl) 0;

  @media (min-width: $mantine-breakpoint-xs) {
    grid-template-columns: auto 80vw auto;
  }

  @media (min-width: 1000px) {
    grid-template-columns: auto 900px auto;
  }
}

.wrapper > * {
  grid-column: 2 / span 1;
}
