// Generic theme colors
$white: #f4f5f6;
$black: #18191a;
$lightGrey: #bbb;
$darkGrey: #40434e;
$lightGreen: #00a676;
$darkGreen: #094734;
$red: #da2c38;
$yellow: #ff9f1c;

// Brand colors
$linkedin-blue: #0a66c2;
$m3ter-green: #4caf4c;
