// Shared colors
$white: #f4f5f6;
$black: #2f2f2f;

// Light theme colors
$lightGrey: #bbb;
$darkBlue: #173753;
$yellow: #ff9f1c;

// Dark theme colors
$darkGrey: #40434e;
$lightGreen: #00a676;
$red: #da2c38;

// Brand colors
$linkedin-blue: #0a66c2;
$m3ter-green: #4caf4c;
