@import './settings.colors.scss';

// Theme-based color variables
body {
  &:not(.dark) {
    --color--primary: #{$white};
    --color--secondary: #{$black};
    --color--tertiary: #{$lightGrey};
    --color--accent: #{$darkBlue};
    --color--accentAlt: #{$yellow};
    --color--glass: rgba(3, 2, 2, 0.2);
  }
  &.dark {
    --color--primary: #{$black};
    --color--secondary: #{$white};
    --color--tertiary: #{$darkGrey};
    --color--accent: #{#{$lightGreen}};
    --color--accentAlt: #{$red};
    --color--glass: rgba(0, 0, 0, 0.3);
  }
}

// Global / default styles
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color--primary);
}
