.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--mantine-spacing-sm);

  @media (min-width: $mantine-breakpoint-sm) {
    gap: var(--mantine-spacing-md);
  }
}

.navItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  padding: 0 var(--mantine-spacing-xs);
  text-decoration: none;

  .text {
    display: none;
    font-size: var(--mantine-font-size-lg);

    @media (min-width: $mantine-breakpoint-sm) {
      display: block;
    }
  }
}

.activeNavItem {
  border-width: 0 0 1px 0;
  border-style: solid;
}
