.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: stretch;
  padding: 0 var(--mantine-spacing-md);
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  padding: 0 var(--mantine-spacing-xs);

  @media (min-width: $mantine-breakpoint-sm) {
    gap: var(--mantine-spacing-md);
  }
}

.colorModeLabel {
  font-family: 'Noto Color Emoji', serif;
  font-size: var(--mantine-font-size-lg);
}
