.wrapper {
  width: 100%;
  height: max-content;
  max-height: 400px;
  overflow-y: scroll;
  background: transparent;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--color--accent);
  }
}
