@import '@/styles/settings.colors';
@import '@/styles/settings.sizes';
@import '@/styles/settings.tools';

.wrapper {
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: $footer-height;
  background: var(--color--primary);
}

.iconsWrapper {
  width: max-content;
  height: 100%;
  margin-right: auto;
  padding-left: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;

  @include breakpoint('medium') {
    padding-left: 25px;
  }
}

.icon {
  width: 30px;
  height: 30px;

  fill: var(--color--secondary);
}

.githubIcon {
  &:hover {
    fill: var(--color--accentAlt);
  }
}

.linkedinIcon {
  &:hover {
    fill: $linkedin-blue;
  }
}
