@import '@/styles/settings.sizes';
@import '@/styles/settings.tools';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $header-height;
  background: linear-gradient(
    to right,
    var(--color--glass) 40%,
    transparent 60%
  );
  z-index: 10;
}

.navWrapper {
  width: max-content;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.navLink {
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--color--secondary);
  text-decoration: none;
  font-weight: 500;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent;
  transition: color 0.3s, border-color 0.3s;

  &:hover {
    color: var(--color--accent);
    border-color: var(--color--accent);
  }

  @include breakpoint('medium') {
    padding: 0 20px;
  }
}

.activeNavLink {
  color: var(--color--accentAlt);
  border-color: var(--color--accentAlt);
}

.themeToggleButton {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--color--primary);
  cursor: pointer;
  border: none;
  border-radius: 5px;

  > svg {
    width: 24px;
    height: 24px;
    margin: auto;
    fill: var(--color--secondary);
  }

  &:hover,
  &:active {
    > svg {
      fill: var(--color--accentAlt);
    }
  }
}
