@import '@/styles/settings.tools';

.cardWrapper {
  width: 100%;
  min-height: 250px;
}

.cardHeader {
  position: relative;
  top: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.titleWrapper {
  width: max-content;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color--secondary) var(--color--secondary)
    var(--color--tertiary);
  border-radius: 0 20px 0 0;
  background-color: var(--color--tertiary);
}
.title {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--color--secondary);

  @include breakpoint('medium') {
    font-size: 20px;
  }
}

.tab {
  width: max-content;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px 0 0 0;
  background-color: var(--color--tertiary);
  border-color: transparent;
  border-bottom-color: var(--color--secondary);
  color: var(--color--secondary);
  transition: color 0.3s;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: var(--color--accent);
  }
}
.activeTab {
  border-color: var(--color--secondary) !important;
  border-bottom-color: transparent !important;
  color: var(--color--accent) !important;
}

.contentWrapper {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  border: 2px solid var(--color--secondary);
  border-radius: 0 0 15px 15px;
  background-color: var(--color--tertiary);
  color: var(--color--secondary);
}

.description {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.5;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 15px;
    background-color: var(--color--secondary);
  }
}
