@import '@/styles/settings.colors';

:export {
  lightColorZero: $lightGrey;
  lightColorOne: $lightGreen;
  lightColorTwo: $yellow;
  lightColorThree: $red;
  lightColorFour: $yellow;

  darkColorZero: $darkGrey;
  darkColorOne: $red;
  darkColorTwo: $lightGreen;
  darkColorThree: $darkGrey;
  darkColorFour: $black;
}
