// Common Imports
@import './common/variables.scss';
@import './common/tools.scss';

// Component Imports
@import './components/carousel.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: inherit;
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  height: max-content;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  --color--accentAlt: #{$marigold};

  &:not(.dark) {
    --color--background: #{$white};
    --color--main: #{$black};
    --color--accent: #{$orange};
  }

  &.dark {
    --color--background: #{$black};
    --color--main: #{$white};
    --color--accent: #{$red};
  }

  background: var(--color--background);

  * {
    color: var(--color--main);
  }
}

a,
button {
  transition: color 0.3s, background-color 0.3s, text-decoration 0.3s;
}

svg {
  transition: fill 0.3s;
}
